{% extends 'base.html.twig' %}
{% block title%}New Post{% endblock %}
{% block body%}
<!-- Principal Content Start -->
   <div id="new Post">
    <div class="content">
        <div class="content_resize">
            <div class="mainbar">
                <div class="article">
   	                <div class="col-xs-12 col-sm-8 col-sm-push-2">
			            {{ form(form, {'attr': {'class':'form-horizontal'}}) }}
       	                <hr class="divider">
                    </div>
                </div>
            </div>        
		</div>   
   	  </div>
   </div>
<!-- Principal Content Start -->
{% endblock %}