{% extends 'base.html.twig' %}
{% block body %} 

    <div class="grid flex">
      <div class="row">
        <div class="colw_6">
          <h1 id="title-sub1">Free web template Istria 1</h1>
          <h2 id="title-sub2">OUR COMPANY</h2>
        </div>
        <!-- END colw_6 -->
        
        <div class="colw_6 wow zoomIn">
          <div class="box-fix">
            <h3 class="centered">Find us on social media</h3>
            <div class="social"> <a href="https://www.facebook.com/Valeron-design-studio-245216518822368/" class="soc-btn facebook"> <i class="fa fa-facebook"></i> Facebook </a> <a href="https://twitter.com/ds_valeron" class="soc-btn twitter"> <i class="fa fa-twitter"></i> Twitter </a> <a href="https://plus.google.com/116499013539302933204" class="soc-btn google5"> <i class="fa fa-google"></i> Google + </a> </div>
          </div>
        </div>
        <!-- END col_6 --> 
        
      </div>
      <!-- END row -->
      
      <div class="row">
        <div class="colw_6 beta wow column zoomIn">
          <div class="wrapimg hack960">
            <div class="pic"> <img src="images/web-dizajn-6.jpg" class="pic-image full-width" alt="Pic"/>
              <div class="pic-caption top-to-bottom">
                <h4 class="pic-title">Free web template</h4>
              </div>
            </div>
          </div>
          <!-- END wrapimg --> 
        </div>
        <!-- END col_6 -->
        
        <div class="colw_6 beta column reladiv">
          <div class="box66">
            <h3 class="title-3 wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.5s">Lorem ipsum dolor sit first</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nesciunt eos ipsum id Facilis nesciunt eos, ipsum id, architecto velit sequi, porro vitae officiis, voluptatibus minus voluptates ab. Dolore, dolor repellat quasi.</p>
            <p>Architecto velit sequi fuga minima commodi, porro vitae officiis, minus voluptates ab. Dolore, dolor repellat quasi.</p>
            <p class="paddbott100">Facilis nesciunt eos, ipsum id, architecto velit sequi, porro vitae officiis, voluptatibus minus voluptates ab. Dolore, <a href="#">dolor repellat quasi</a>.</p>
            <a href="#" class="istria-btn">Read More</a>
            <div class="istria-line left">
              <div class="inner"></div>
            </div>
            <div class="istria-line right">
              <div class="inner"></div>
            </div>
          </div>
          <!-- END box66 --> 
        </div>
        <!-- END col_6 --> 
        
      </div>
      <!-- END row --> 
      
    </div>
    <!-- End GRID FLEX --> 
    
  </section>
  <!-- END #section-2 -->
  
  <div class="backimg" id="section-7">
    <div class="bghover7 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".1s">
      <div class="grid flex">
        <div class="row paddtop5">
          <div class="colw_8 column wow fadeInUpBig" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="col_6 beta">
              <div class="box90 boxwsha reladiv column2">
                <h4 class="color wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.5s">Lorem ipsum dolor sit amet second </h4>
                <p>Facilis nesciunt eos ipsum id Facilis nesciunt eos, ipsum id, architecto velit sequi porro vitae officiis, minus voluptates ab. Dolore, dolor repellat quasi. Facilis nesciunt eos, ipsum id, architecto velit sequi.</p>
                <p>Dolore, dolor repellat quasi. Architecto velit sequi fuga minima commodi, porro vitae officiis. Minus voluptates ab nesciunt eos, ipsum id, architecto velit sequi, porro vitae officiis. Architecto velit sequi fuga minima commodi, porro vitae officiis.</p>
                <p class="paddbott100">Architecto velit sequi fuga minima commodi, porro vitae officiis, minus voluptates ab. Dolore, dolor repellat quasi. Facilis nesciunt eos, ipsum id, architecto velit sequi, porro vitae officiis. Architecto velit sequi fuga minima commodi, porro vitae officiis, minus voluptates ab.</p>
                <a href="#" class="istria-btn">Read More</a>
                <div class="istria-line left">
                  <div class="inner"></div>
                </div>
                <div class="istria-line right">
                  <div class="inner"></div>
                </div>
              </div>
              <!-- END box80 --> 
            </div>
            <!-- END col_6 -->
            
            <div class="col_6 beta wow fadeInUpBig" data-wow-duration="1s" data-wow-delay=".6s">
              <div class="box90 boxwsha reladiv column2">
                <h4 class="color wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="1s">Lorem ipsum dolor sit amet third</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nesciunt eos ipsum id Facilis nesciunt eos, ipsum id, minus voluptates ab. Dolore, dolor repellat quasi. Facilis nesciunt eos, ipsum id, architecto velit sequi.</p>
                <p>Architecto velit sequi fuga minima commodi, porro vitae officiis, minus voluptates ab. Dolore, dolor repellat quasi. Facilis nesciunt eos, ipsum id, architecto velit sequi, porro vitae officiis. Architecto velit sequi fuga minima commodi, porro vitae officiis. Minus voluptates ab nesciunt eos, ipsum id, architecto velit sequi, porro vitae officiis.</p>
                <p class="paddbott100">Architecto velit sequi fuga minima commodi, porro vitae officiis, minus voluptates ab. Dolore, dolor repellat quasi.</p>
                <a href="#" class="istria-btn">Read More</a>
                <div class="istria-line left">
                  <div class="inner"></div>
                </div>
                <div class="istria-line right">
                  <div class="inner"></div>
                </div>
              </div>
              <!-- END box80 --> 
            </div>
            <!-- END col_6 --> 
            
          </div>
          <!-- END col_6 -->
          
          <div class="colw_4 column wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="1s">
            <div class="box90 boxwsha column2 wow zoomIn">
              <div class="colw_12 alomdebe"> <img src="images/web-dizajn-istra2.jpg" class="full-width" alt="Image"/> </div>
              <!-- END colw_12 alomdebe -->
              
              <div class="colw_12">
                <h5>Lorem ipsum dolor sit amet</h5>
                <p>Facilis nesciunt eos, ipsum id, architecto velit sequi, porro vitae officiis.</p>
              </div>
              <!-- END colw_12 --> 
              
            </div>
            <!-- END box90 boxwsha --> 
          </div>
          <!-- END col_4 --> 
          
        </div>
        <!-- END row --> 
      </div>
      <!-- END .GRID FLEX --> 
    </div>
    <!-- END bghover --> 
  </div>
  <!-- END #section-3 -->
  
  <div class="backimg" id="section-door">
    <div class="grid flex">
      <div class="row">
        <div class="colw_6 alomdebe">
          <div class="colw_12 alomdebe white padd5555 hei100 wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".5s">
            <div class="col_12 paddtop100">
              <div class="zoomimg" id="lightgallery">
                <div class="zoom-wrap" data-responsive="images/welcome-to-magic-oprtalj-375.jpg 375, images/welcome-to-magic-oprtalj-480.jpg 480, images/welcome-to-magic-oprtalj-800.jpg 800" data-src="images/welcome-to-magic-oprtalj-1600.jpg" data-sub-html="<h4>Welcome to magic Istria</h4>"> <a href="" class="fixico"><i class="fa fa-search fa-2x"></i></a> <img src="images/welcome-to-magic-oprtalj-2.jpg" alt="Welcome to magic Istria" class="full-width"> <span class="fadef"></span> </div>
                <!-- END data-responsive --> 
                
              </div>
              <!-- END .zoomimg #lightgallery  --> 
            </div>
            <!-- END col_12 --> 
            
          </div>
          <!-- END col_12 --> 
        </div>
        <!-- END col_6 -->
        
        <div class="colw_6 alomdebe">
          <div class="colw_12 alomdebe white paddtop105 hei100 wow fadeInRight" data-wow-duration="2s" data-wow-delay=".5s">
            <h5 class="title-3">Lorem ipsum dolor 1</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nesciunt eos ipsum id Facilis nesciunt eos, ipsum id, minus voluptates ab. Dolore, dolor repellat quasi. Facilis nesciunt eos, ipsum id, architecto velit sequi.</p>
            <p>Architecto velit sequi fuga minima commodi, porro vitae officiis, minus voluptates ab. Dolore, dolor repellat quasi. Facilis nesciunt eos, ipsum id, architecto velit sequi, porro vitae officiis. Architecto velit sequi fuga minima commodi, porro vitae officiis. Minus voluptates ab nesciunt eos, ipsum id, architecto velit sequi, porro vitae officiis.</p>
            <p>Architecto velit sequi fuga minima commodi, porro vitae officiis, minus voluptates ab. Dolore, dolor repellat quasi.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nesciunt eos ipsum id Facilis nesciunt eos, ipsum id, minus voluptates ab.</p>
            <div class="clear"></div>
            <div class="col_12">
              <div class="triangle">
                <div class='wrap2'>
                  <div class='crop'> <img src='images/staff1.jpg'> </div>
                </div>
                <div class='wrap2'>
                  <div class='crop'> <img src='images/staff2.jpg'> </div>
                </div>
                <div class='wrap2'>
                  <div class='crop'> <img src='images/staff3.jpg'> </div>
                </div>
                <div class='wrap2'>
                  <div class='crop'> <img src='images/staff4.jpg'> </div>
                </div>
                <div class='wrap2'>
                  <div class='crop'> <img src='images/staff5.jpg'> </div>
                </div>
                <div class='wrap2'>
                  <div class='crop'> <img src='images/staff7.jpg'> </div>
                </div>
                <div class='wrap2'>
                  <div class='crop'> <img src='images/staff6.jpg'> </div>
                </div>
                <div class='wrap2'>
                  <div class='crop'> <img src='images/staff9.jpg'> </div>
                </div>
              </div>
              <!-- END triangle --> 
            </div>
            <!-- END col_12 --> 
            
          </div>
          <!-- END col_12 --> 
          
        </div>
        <!-- END col_6 -->
        
        <p class="dolje">2005 - <script>document.write(new Date().getFullYear())</script> Valeron design studio | Izrada web stranica <a href="http://www.valeron.net" class="linkline">VALERON design studio</a></p>
      </div>
      <!-- END row --> 
      
    </div>
    <!-- END .GRID FLEX --> 
    
  </div>
  <!-- END #section-door --> 
</div>
<!-- END .animsition-overla --> 

{% endblock %}