{% extends 'base.html.twig' %}
{% block title %} YellowStone {% endblock %}
{% block body %}
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">

        {% for post in posts %}
          {{include ('partials/post.html.twig')}}
        {% endfor %}



        <p class="pages"><small>Page 1 of 2 &nbsp;&nbsp;&nbsp;</small> <span>1</span> <a href="#">2</a> <a href="#">&raquo;</a></p>
      </div>
      {{include ('partials/sidebar.html.twig')}}
    </div>
  </div>
{% endblock %}